.nav {
    background-color: #343963;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
    color: #ffffff;
    position: fixed;
    top:0;
    left:0;
}
